In [1]:
# Importing the needed libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [2]:
# Reading in the dataset
df= pd.read_csv('hotel.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### Issues to fix

1. Null values in company
2. Null values in country
3. Null values in agent
4. Undefined in meal,market segment, distribution channel, 
5. Null values in children
6.

In [4]:
df['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

In [5]:
# checking for missing values in children
df[df['children'].isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40600,City Hotel,1,2,2015,August,32,3,1,0,2,...,No Deposit,NaN,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40667,City Hotel,1,1,2015,August,32,5,0,2,2,...,No Deposit,14.0,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40679,City Hotel,1,1,2015,August,32,5,0,2,3,...,No Deposit,NaN,NaN,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
41160,City Hotel,1,8,2015,August,33,13,2,5,2,...,No Deposit,9.0,NaN,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

In [6]:
# Checking the location of children with nan values in relation with other attributes 
#df.loc[:,['adults','children','babies','is_canceled']]

In [7]:
# Checking the location of children with nan values in relation with other attributes based on the location of the missing values 
#df[df['children'].isna()].loc[:,['adults','children','babies','is_canceled']]

In [8]:
# Checking for unique values in children
sorted(df['children'].unique())

[0.0, 1.0, 2.0, 3.0, 10.0, nan]

In [9]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [10]:
# Checking for unique values in date of reservation 
sorted(df['reservation_status_date'].unique())

['2014-10-17',
 '2014-11-18',
 '2015-01-01',
 '2015-01-02',
 '2015-01-18',
 '2015-01-20',
 '2015-01-21',
 '2015-01-22',
 '2015-01-28',
 '2015-01-29',
 '2015-01-30',
 '2015-02-02',
 '2015-02-05',
 '2015-02-06',
 '2015-02-09',
 '2015-02-10',
 '2015-02-11',
 '2015-02-12',
 '2015-02-17',
 '2015-02-19',
 '2015-02-20',
 '2015-02-23',
 '2015-02-24',
 '2015-02-25',
 '2015-02-26',
 '2015-02-27',
 '2015-03-03',
 '2015-03-04',
 '2015-03-05',
 '2015-03-06',
 '2015-03-09',
 '2015-03-10',
 '2015-03-11',
 '2015-03-12',
 '2015-03-13',
 '2015-03-17',
 '2015-03-18',
 '2015-03-23',
 '2015-03-24',
 '2015-03-25',
 '2015-03-28',
 '2015-03-29',
 '2015-03-30',
 '2015-03-31',
 '2015-04-02',
 '2015-04-03',
 '2015-04-04',
 '2015-04-05',
 '2015-04-06',
 '2015-04-07',
 '2015-04-08',
 '2015-04-10',
 '2015-04-11',
 '2015-04-13',
 '2015-04-14',
 '2015-04-15',
 '2015-04-16',
 '2015-04-17',
 '2015-04-18',
 '2015-04-20',
 '2015-04-21',
 '2015-04-22',
 '2015-04-23',
 '2015-04-24',
 '2015-04-25',
 '2015-04-27',
 '2015-04-28',
 '2015-04-29',
 '2015-04-30',
 '2015-05-01',
 '2015-05-04',
 '2015-05-05',
 '2015-05-06',
 '2015-05-07',
 '2015-05-08',
 '2015-05-09',
 '2015-05-11',
 '2015-05-12',
 '2015-05-13',
 '2015-05-14',
 '2015-05-15',
 '2015-05-16',
 '2015-05-18',
 '2015-05-19',
 '2015-05-20',
 '2015-05-21',
 '2015-05-22',
 '2015-05-23',
 '2015-05-25',
 '2015-05-26',
 '2015-05-27',
 '2015-05-28',
 '2015-05-29',
 '2015-05-30',
 '2015-06-01',
 '2015-06-02',
 '2015-06-03',
 '2015-06-04',
 '2015-06-05',
 '2015-06-06',
 '2015-06-08',
 '2015-06-09',
 '2015-06-10',
 '2015-06-11',
 '2015-06-12',
 '2015-06-13',
 '2015-06-14',
 '2015-06-15',
 '2015-06-16',
 '2015-06-17',
 '2015-06-18',
 '2015-06-19',
 '2015-06-20',
 '2015-06-22',
 '2015-06-23',
 '2015-06-24',
 '2015-06-25',
 '2015-06-26',
 '2015-06-27',
 '2015-06-29',
 '2015-06-30',
 '2015-07-01',
 '2015-07-02',
 '2015-07-03',
 '2015-07-04',
 '2015-07-05',
 '2015-07-06',
 '2015-07-07',
 '2015-07-08',
 '2015-07-09',
 '2015-07-10',
 '2015-07-11',
 '2015-07-12',
 '2015-07-13',
 '2015-07-14',
 '2015-07-15',
 '2015-07-16',
 '2015-07-17',
 '2015-07-18',
 '2015-07-19',
 '2015-07-20',
 '2015-07-21',
 '2015-07-22',
 '2015-07-23',
 '2015-07-24',
 '2015-07-25',
 '2015-07-26',
 '2015-07-27',
 '2015-07-28',
 '2015-07-29',
 '2015-07-30',
 '2015-07-31',
 '2015-08-01',
 '2015-08-02',
 '2015-08-03',
 '2015-08-04',
 '2015-08-05',
 '2015-08-06',
 '2015-08-07',
 '2015-08-08',
 '2015-08-09',
 '2015-08-10',
 '2015-08-11',
 '2015-08-12',
 '2015-08-13',
 '2015-08-14',
 '2015-08-15',
 '2015-08-16',
 '2015-08-17',
 '2015-08-18',
 '2015-08-19',
 '2015-08-20',
 '2015-08-21',
 '2015-08-22',
 '2015-08-23',
 '2015-08-24',
 '2015-08-25',
 '2015-08-26',
 '2015-08-27',
 '2015-08-28',
 '2015-08-29',
 '2015-08-30',
 '2015-08-31',
 '2015-09-01',
 '2015-09-02',
 '2015-09-03',
 '2015-09-04',
 '2015-09-05',
 '2015-09-06',
 '2015-09-07',
 '2015-09-08',
 '2015-09-09',
 '2015-09-10',
 '2015-09-11',
 '2015-09-12',
 '2015-09-13',
 '2015-09-14',
 '2015-09-15',
 '2015-09-16',
 '2015-09-17',
 '2015-09-18',
 '2015-09-19',
 '2015-09-20',
 '2015-09-21',
 '2015-09-22',
 '2015-09-23',
 '2015-09-24',
 '2015-09-25',
 '2015-09-26',
 '2015-09-27',
 '2015-09-28',
 '2015-09-29',
 '2015-09-30',
 '2015-10-01',
 '2015-10-02',
 '2015-10-03',
 '2015-10-04',
 '2015-10-05',
 '2015-10-06',
 '2015-10-07',
 '2015-10-08',
 '2015-10-09',
 '2015-10-10',
 '2015-10-11',
 '2015-10-12',
 '2015-10-13',
 '2015-10-14',
 '2015-10-15',
 '2015-10-16',
 '2015-10-17',
 '2015-10-18',
 '2015-10-19',
 '2015-10-20',
 '2015-10-21',
 '2015-10-22',
 '2015-10-23',
 '2015-10-24',
 '2015-10-25',
 '2015-10-26',
 '2015-10-27',
 '2015-10-28',
 '2015-10-29',
 '2015-10-30',
 '2015-10-31',
 '2015-11-01',
 '2015-11-02',
 '2015-11-03',
 '2015-11-04',
 '2015-11-05',
 '2015-11-06',
 '2015-11-07',
 '2015-11-08',
 '2015-11-09',
 '2015-11-10',
 '2015-11-11',
 '2015-11-12',
 '2015-11-13',
 '2015-11-14',
 '2015-11-15',
 '2015-11-16',
 '2015-11-17',
 '2015-11-18',
 '2015-11-19',
 '2015-11-20',
 '2015-11-21',
 '2015-11-22',
 '2015-11-23',
 '2015-11-24',
 '2015-11-25',
 '2015-11-26',
 '2015-11-27',
 '2015-11-28',
 '2015-11-29',
 '2015-11-30',
 '2015-12-01',
 '2015-12-02',
 '2015-12-03',
 '2015-12-04',
 '2015-12-05',
 '2015-12-06',
 '2015-12-07',
 '2015-12-08',
 '2015-12-09',
 '2015-12-10',
 '2015-12-11',
 '2015-12-12',
 '2015-12-13',
 '2015-12-14',
 '2015-12-15',
 '2015-12-16',
 '2015-12-17',
 '2015-12-18',
 '2015-12-19',
 '2015-12-20',
 '2015-12-21',
 '2015-12-22',
 '2015-12-23',
 '2015-12-24',
 '2015-12-25',
 '2015-12-26',
 '2015-12-27',
 '2015-12-28',
 '2015-12-29',
 '2015-12-30',
 '2015-12-31',
 '2016-01-01',
 '2016-01-02',
 '2016-01-03',
 '2016-01-04',
 '2016-01-05',
 '2016-01-06',
 '2016-01-07',
 '2016-01-08',
 '2016-01-09',
 '2016-01-10',
 '2016-01-11',
 '2016-01-12',
 '2016-01-13',
 '2016-01-14',
 '2016-01-15',
 '2016-01-16',
 '2016-01-17',
 '2016-01-18',
 '2016-01-19',
 '2016-01-20',
 '2016-01-21',
 '2016-01-22',
 '2016-01-23',
 '2016-01-24',
 '2016-01-25',
 '2016-01-26',
 '2016-01-27',
 '2016-01-28',
 '2016-01-29',
 '2016-01-30',
 '2016-01-31',
 '2016-02-01',
 '2016-02-02',
 '2016-02-03',
 '2016-02-04',
 '2016-02-05',
 '2016-02-06',
 '2016-02-07',
 '2016-02-08',
 '2016-02-09',
 '2016-02-10',
 '2016-02-11',
 '2016-02-12',
 '2016-02-13',
 '2016-02-14',
 '2016-02-15',
 '2016-02-16',
 '2016-02-17',
 '2016-02-18',
 '2016-02-19',
 '2016-02-20',
 '2016-02-21',
 '2016-02-22',
 '2016-02-23',
 '2016-02-24',
 '2016-02-25',
 '2016-02-26',
 '2016-02-27',
 '2016-02-28',
 '2016-02-29',
 '2016-03-01',
 '2016-03-02',
 '2016-03-03',
 '2016-03-04',
 '2016-03-05',
 '2016-03-06',
 '2016-03-07',
 '2016-03-08',
 '2016-03-09',
 '2016-03-10',
 '2016-03-11',
 '2016-03-12',
 '2016-03-13',
 '2016-03-14',
 '2016-03-15',
 '2016-03-16',
 '2016-03-17',
 '2016-03-18',
 '2016-03-19',
 '2016-03-20',
 '2016-03-21',
 '2016-03-22',
 '2016-03-23',
 '2016-03-24',
 '2016-03-25',
 '2016-03-26',
 '2016-03-27',
 '2016-03-28',
 '2016-03-29',
 '2016-03-30',
 '2016-03-31',
 '2016-04-01',
 '2016-04-02',
 '2016-04-03',
 '2016-04-04',
 '2016-04-05',
 '2016-04-06',
 '2016-04-07',
 '2016-04-08',
 '2016-04-09',
 '2016-04-10',
 '2016-04-11',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-16',
 '2016-04-17',
 '2016-04-18',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-23',
 '2016-04-24',
 '2016-04-25',
 '2016-04-26',
 '2016-04-27',
 '2016-04-28',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-02',
 '2016-05-03',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-07',
 '2016-05-08',
 '2016-05-09',
 '2016-05-10',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-15',
 '2016-05-16',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-21',
 '2016-05-22',
 '2016-05-23',
 '2016-05-24',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-28',
 '2016-05-29',
 '2016-05-30',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-04',
 '2016-06-05',
 '2016-06-06',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-11',
 '2016-06-12',
 '2016-06-13',
 '2016-06-14',
 '2016-06-15',
 '2016-06-16',
 '2016-06-17',
 '2016-06-18',
 '2016-06-19',
 '2016-06-20',
 '2016-06-21',
 '2016-06-22',
 '2016-06-23',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-27',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-01',
 '2016-07-02',
 '2016-07-03',
 '2016-07-04',
 '2016-07-05',
 '2016-07-06',
 '2016-07-07',
 '2016-07-08',
 '2016-07-09',
 '2016-07-10',
 '2016-07-11',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-15',
 '2016-07-16',
 '2016-07-17',
 '2016-07-18',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-23',
 '2016-07-24',
 '2016-07-25',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-07-31',
 '2016-08-01',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-06',
 '2016-08-07',
 '2016-08-08',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-13',
 '2016-08-14',
 '2016-08-15',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-20',
 '2016-08-21',
 '2016-08-22',
 '2016-08-23',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-27',
 '2016-08-28',
 '2016-08-29',
 '2016-08-30',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-04',
 '2016-09-05',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-10',
 '2016-09-11',
 '2016-09-12',
 '2016-09-13',
 '2016-09-14',
 '2016-09-15',
 '2016-09-16',
 '2016-09-17',
 '2016-09-18',
 '2016-09-19',
 '2016-09-20',
 '2016-09-21',
 '2016-09-22',
 '2016-09-23',
 '2016-09-24',
 '2016-09-25',
 '2016-09-26',
 '2016-09-27',
 '2016-09-28',
 '2016-09-29',
 '2016-09-30',
 '2016-10-01',
 '2016-10-02',
 '2016-10-03',
 '2016-10-04',
 '2016-10-05',
 '2016-10-06',
 '2016-10-07',
 '2016-10-08',
 '2016-10-09',
 '2016-10-10',
 '2016-10-11',
 '2016-10-12',
 '2016-10-13',
 '2016-10-14',
 '2016-10-15',
 '2016-10-16',
 '2016-10-17',
 '2016-10-18',
 '2016-10-19',
 '2016-10-20',
 '2016-10-21',
 '2016-10-22',
 '2016-10-23',
 '2016-10-24',
 '2016-10-25',
 '2016-10-26',
 '2016-10-27',
 '2016-10-28',
 '2016-10-29',
 '2016-10-30',
 '2016-10-31',
 '2016-11-01',
 '2016-11-02',
 '2016-11-03',
 '2016-11-04',
 '2016-11-05',
 '2016-11-06',
 '2016-11-07',
 '2016-11-08',
 '2016-11-09',
 '2016-11-10',
 '2016-11-11',
 '2016-11-12',
 '2016-11-13',
 '2016-11-14',
 '2016-11-15',
 '2016-11-16',
 '2016-11-17',
 '2016-11-18',
 '2016-11-19',
 '2016-11-20',
 '2016-11-21',
 '2016-11-22',
 '2016-11-23',
 '2016-11-24',
 '2016-11-25',
 '2016-11-26',
 '2016-11-27',
 '2016-11-28',
 '2016-11-29',
 '2016-11-30',
 '2016-12-01',
 '2016-12-02',
 '2016-12-03',
 '2016-12-04',
 '2016-12-05',
 '2016-12-06',
 '2016-12-07',
 '2016-12-08',
 '2016-12-09',
 '2016-12-10',
 '2016-12-11',
 '2016-12-12',
 '2016-12-13',
 '2016-12-14',
 '2016-12-15',
 '2016-12-16',
 '2016-12-17',
 '2016-12-18',
 '2016-12-19',
 '2016-12-20',
 '2016-12-21',
 '2016-12-22',
 '2016-12-23',
 '2016-12-24',
 '2016-12-25',
 '2016-12-26',
 '2016-12-27',
 '2016-12-28',
 '2016-12-29',
 '2016-12-30',
 '2016-12-31',
 '2017-01-01',
 '2017-01-02',
 '2017-01-03',
 '2017-01-04',
 '2017-01-05',
 '2017-01-06',
 '2017-01-07',
 '2017-01-08',
 '2017-01-09',
 '2017-01-10',
 '2017-01-11',
 '2017-01-12',
 '2017-01-13',
 '2017-01-14',
 '2017-01-15',
 '2017-01-16',
 '2017-01-17',
 '2017-01-18',
 '2017-01-19',
 '2017-01-20',
 '2017-01-21',
 '2017-01-22',
 '2017-01-23',
 '2017-01-24',
 '2017-01-25',
 '2017-01-26',
 '2017-01-27',
 '2017-01-28',
 '2017-01-29',
 '2017-01-30',
 '2017-01-31',
 '2017-02-01',
 '2017-02-02',
 '2017-02-03',
 '2017-02-04',
 '2017-02-05',
 '2017-02-06',
 '2017-02-07',
 '2017-02-08',
 '2017-02-09',
 '2017-02-10',
 '2017-02-11',
 '2017-02-12',
 '2017-02-13',
 '2017-02-14',
 '2017-02-15',
 '2017-02-16',
 '2017-02-17',
 '2017-02-18',
 '2017-02-19',
 '2017-02-20',
 '2017-02-21',
 '2017-02-22',
 '2017-02-23',
 '2017-02-24',
 '2017-02-25',
 '2017-02-26',
 '2017-02-27',
 '2017-02-28',
 '2017-03-01',
 '2017-03-02',
 '2017-03-03',
 '2017-03-04',
 '2017-03-05',
 '2017-03-06',
 '2017-03-07',
 '2017-03-08',
 '2017-03-09',
 '2017-03-10',
 '2017-03-11',
 '2017-03-12',
 '2017-03-13',
 '2017-03-14',
 '2017-03-15',
 '2017-03-16',
 '2017-03-17',
 '2017-03-18',
 '2017-03-19',
 '2017-03-20',
 '2017-03-21',
 '2017-03-22',
 '2017-03-23',
 '2017-03-24',
 '2017-03-25',
 '2017-03-26',
 '2017-03-27',
 '2017-03-28',
 '2017-03-29',
 '2017-03-30',
 '2017-03-31',
 '2017-04-01',
 '2017-04-02',
 '2017-04-03',
 '2017-04-04',
 '2017-04-05',
 '2017-04-06',
 '2017-04-07',
 '2017-04-08',
 '2017-04-09',
 '2017-04-10',
 '2017-04-11',
 '2017-04-12',
 '2017-04-13',
 '2017-04-14',
 '2017-04-15',
 '2017-04-16',
 '2017-04-17',
 '2017-04-18',
 '2017-04-19',
 '2017-04-20',
 '2017-04-21',
 '2017-04-22',
 '2017-04-23',
 '2017-04-24',
 '2017-04-25',
 '2017-04-26',
 '2017-04-27',
 '2017-04-28',
 '2017-04-29',
 '2017-04-30',
 '2017-05-01',
 '2017-05-02',
 '2017-05-03',
 '2017-05-04',
 '2017-05-05',
 '2017-05-06',
 '2017-05-07',
 '2017-05-08',
 '2017-05-09',
 '2017-05-10',
 '2017-05-11',
 '2017-05-12',
 '2017-05-13',
 '2017-05-14',
 '2017-05-15',
 '2017-05-16',
 '2017-05-17',
 '2017-05-18',
 '2017-05-19',
 '2017-05-20',
 '2017-05-21',
 '2017-05-22',
 '2017-05-23',
 '2017-05-24',
 '2017-05-25',
 '2017-05-26',
 '2017-05-27',
 '2017-05-28',
 '2017-05-29',
 '2017-05-30',
 '2017-05-31',
 '2017-06-01',
 '2017-06-02',
 '2017-06-03',
 '2017-06-04',
 '2017-06-05',
 '2017-06-06',
 '2017-06-07',
 '2017-06-08',
 '2017-06-09',
 '2017-06-10',
 '2017-06-11',
 '2017-06-12',
 '2017-06-13',
 '2017-06-14',
 '2017-06-15',
 '2017-06-16',
 '2017-06-17',
 '2017-06-18',
 '2017-06-19',
 '2017-06-20',
 '2017-06-21',
 '2017-06-22',
 '2017-06-23',
 '2017-06-24',
 '2017-06-25',
 '2017-06-26',
 '2017-06-27',
 '2017-06-28',
 '2017-06-29',
 '2017-06-30',
 '2017-07-01',
 '2017-07-02',
 '2017-07-03',
 '2017-07-04',
 '2017-07-05',
 '2017-07-06',
 '2017-07-07',
 '2017-07-08',
 '2017-07-09',
 '2017-07-10',
 '2017-07-11',
 '2017-07-12',
 '2017-07-13',
 '2017-07-14',
 '2017-07-15',
 '2017-07-16',
 '2017-07-17',
 '2017-07-18',
 '2017-07-19',
 '2017-07-20',
 '2017-07-21',
 '2017-07-22',
 '2017-07-23',
 '2017-07-24',
 '2017-07-25',
 '2017-07-26',
 '2017-07-27',
 '2017-07-28',
 '2017-07-29',
 '2017-07-30',
 '2017-07-31',
 '2017-08-01',
 '2017-08-02',
 '2017-08-03',
 '2017-08-04',
 '2017-08-05',
 '2017-08-06',
 '2017-08-07',
 '2017-08-08',
 '2017-08-09',
 '2017-08-10',
 '2017-08-11',
 '2017-08-12',
 '2017-08-13',
 '2017-08-14',
 '2017-08-15',
 '2017-08-16',
 '2017-08-17',
 '2017-08-18',
 '2017-08-19',
 '2017-08-20',
 '2017-08-21',
 '2017-08-22',
 '2017-08-23',
 '2017-08-24',
 '2017-08-25',
 '2017-08-26',
 '2017-08-27',
 '2017-08-28',
 '2017-08-29',
 '2017-08-30',
 '2017-08-31',
 '2017-09-01',
 '2017-09-02',
 '2017-09-03',
 '2017-09-04',
 '2017-09-05',
 '2017-09-06',
 '2017-09-07',
 '2017-09-08',
 '2017-09-09',
 '2017-09-10',
 '2017-09-12',
 '2017-09-14']

In [11]:
sorted(df['reservation_status'].unique())

['Canceled', 'Check-Out', 'No-Show']

In [12]:
sorted(df['total_of_special_requests'].unique())

[0, 1, 2, 3, 4, 5]

In [13]:
sorted(df['required_car_parking_spaces'].unique())

[0, 1, 2, 3, 8]

In [14]:
# Average Daily Rate as defined by dividing the sum of all lodging transactions by the total number of staying night
sorted(df['adr'].unique())

[-6.38,
 0.0,
 0.26,
 0.5,
 1.0,
 1.29,
 1.48,
 1.56,
 1.6,
 1.8,
 2.0,
 2.4,
 3.0,
 3.38,
 4.0,
 4.5,
 5.0,
 5.2,
 5.25,
 6.0,
 6.4,
 6.5,
 6.67,
 6.9,
 7.0,
 7.8,
 8.0,
 8.34,
 8.43,
 9.0,
 9.14,
 9.67,
 9.71,
 10.0,
 10.5,
 10.8,
 11.53,
 11.75,
 12.0,
 12.5,
 13.0,
 14.0,
 15.0,
 16.0,
 16.92,
 17.5,
 17.6,
 18.0,
 18.5,
 18.6,
 19.0,
 19.09,
 19.15,
 19.35,
 20.0,
 20.88,
 21.0,
 21.37,
 21.5,
 22.0,
 22.11,
 22.4,
 22.5,
 22.86,
 23.0,
 23.5,
 23.6,
 23.7,
 23.93,
 24.0,
 24.5,
 24.7,
 24.79,
 24.8,
 24.83,
 24.87,
 24.94,
 24.95,
 25.0,
 25.11,
 25.42,
 25.5,
 25.64,
 25.65,
 25.92,
 26.0,
 26.1,
 26.23,
 26.26,
 26.33,
 26.35,
 26.5,
 26.64,
 26.93,
 26.95,
 26.99,
 27.0,
 27.07,
 27.35,
 27.36,
 27.43,
 27.5,
 27.53,
 27.54,
 27.56,
 27.6,
 27.69,
 27.81,
 27.9,
 28.0,
 28.1,
 28.3,
 28.33,
 28.5,
 28.64,
 28.71,
 28.79,
 28.8,
 29.0,
 29.01,
 29.06,
 29.11,
 29.16,
 29.3,
 29.34,
 29.41,
 29.6,
 29.72,
 29.73,
 29.75,
 29.78,
 29.8,
 29.96,
 29.97,
 30.0,
 30.03,
 30.24,
 30.3,
 30.4,
 30.43,
 30.5,
 30.6,
 30.67,
 30.71,
 30.8,
 30.86,
 30.9,
 30.96,
 30.99,
 31.0,
 31.05,
 31.12,
 31.16,
 31.18,
 31.2,
 31.21,
 31.4,
 31.41,
 31.45,
 31.5,
 31.59,
 31.6,
 31.63,
 31.64,
 31.65,
 31.67,
 31.71,
 31.8,
 31.88,
 31.95,
 32.0,
 32.01,
 32.02,
 32.1,
 32.22,
 32.23,
 32.24,
 32.3,
 32.31,
 32.34,
 32.4,
 32.5,
 32.6,
 32.62,
 32.71,
 32.77,
 32.8,
 32.83,
 32.85,
 32.95,
 33.0,
 33.05,
 33.08,
 33.11,
 33.15,
 33.26,
 33.27,
 33.3,
 33.31,
 33.35,
 33.45,
 33.58,
 33.6,
 33.65,
 33.68,
 33.71,
 33.84,
 33.88,
 33.94,
 34.0,
 34.02,
 34.11,
 34.19,
 34.2,
 34.24,
 34.3,
 34.33,
 34.4,
 34.43,
 34.44,
 34.5,
 34.51,
 34.56,
 34.57,
 34.63,
 34.65,
 34.73,
 34.79,
 34.8,
 34.82,
 34.85,
 34.86,
 34.97,
 35.0,
 35.05,
 35.1,
 35.11,
 35.12,
 35.14,
 35.15,
 35.16,
 35.2,
 35.24,
 35.25,
 35.27,
 35.28,
 35.33,
 35.34,
 35.4,
 35.45,
 35.46,
 35.47,
 35.5,
 35.6,
 35.63,
 35.64,
 35.65,
 35.67,
 35.7,
 35.71,
 35.72,
 35.81,
 35.95,
 35.99,
 36.0,
 36.04,
 36.05,
 36.1,
 36.12,
 36.13,
 36.14,
 36.2,
 36.22,
 36.24,
 36.25,
 36.26,
 36.29,
 36.32,
 36.38,
 36.4,
 36.43,
 36.45,
 36.5,
 36.53,
 36.55,
 36.6,
 36.61,
 36.64,
 36.72,
 36.74,
 36.75,
 36.8,
 36.84,
 36.86,
 36.9,
 36.93,
 36.96,
 37.0,
 37.01,
 37.05,
 37.07,
 37.1,
 37.14,
 37.15,
 37.2,
 37.25,
 37.29,
 37.3,
 37.31,
 37.33,
 37.37,
 37.4,
 37.43,
 37.44,
 37.45,
 37.5,
 37.53,
 37.54,
 37.56,
 37.6,
 37.67,
 37.7,
 37.71,
 37.73,
 37.8,
 37.83,
 37.86,
 37.94,
 37.95,
 38.0,
 38.03,
 38.04,
 38.07,
 38.1,
 38.11,
 38.12,
 38.13,
 38.22,
 38.25,
 38.29,
 38.32,
 38.33,
 38.4,
 38.46,
 38.47,
 38.5,
 38.55,
 38.57,
 38.62,
 38.67,
 38.68,
 38.7,
 38.77,
 38.81,
 38.83,
 38.86,
 38.88,
 38.92,
 38.93,
 38.96,
 39.0,
 39.04,
 39.06,
 39.1,
 39.13,
 39.14,
 39.15,
 39.2,
 39.21,
 39.24,
 39.26,
 39.27,
 39.3,
 39.33,
 39.38,
 39.4,
 39.41,
 39.42,
 39.44,
 39.5,
 39.51,
 39.6,
 39.67,
 39.68,
 39.69,
 39.7,
 39.74,
 39.76,
 39.79,
 39.8,
 39.83,
 39.84,
 39.9,
 39.91,
 39.93,
 39.95,
 39.96,
 39.99,
 40.0,
 40.03,
 40.05,
 40.07,
 40.1,
 40.11,
 40.14,
 40.19,
 40.23,
 40.24,
 40.25,
 40.29,
 40.31,
 40.32,
 40.39,
 40.4,
 40.5,
 40.54,
 40.65,
 40.66,
 40.67,
 40.68,
 40.7,
 40.75,
 40.76,
 40.79,
 40.8,
 40.81,
 40.83,
 40.85,
 40.93,
 40.94,
 40.95,
 40.96,
 41.0,
 41.04,
 41.09,
 41.1,
 41.11,
 41.18,
 41.2,
 41.25,
 41.27,
 41.29,
 41.3,
 41.33,
 41.35,
 41.37,
 41.4,
 41.43,
 41.45,
 41.46,
 41.47,
 41.48,
 41.5,
 41.51,
 41.52,
 41.53,
 41.57,
 41.58,
 41.6,
 41.62,
 41.65,
 41.71,
 41.75,
 41.76,
 41.84,
 41.85,
 41.87,
 41.88,
 41.89,
 41.93,
 41.94,
 41.96,
 41.97,
 41.98,
 42.0,
 42.04,
 42.05,
 42.08,
 42.1,
 42.11,
 42.12,
 42.14,
 42.17,
 42.19,
 42.23,
 42.24,
 42.25,
 42.28,
 42.29,
 42.3,
 42.35,
 42.36,
 42.38,
 42.4,
 42.43,
 42.45,
 42.5,
 42.51,
 42.55,
 42.56,
 42.57,
 42.6,
 42.65,
 42.66,
 42.67,
 42.69,
 42.7,
 42.75,
 42.81,
 42.83,
 42.86,
 42.9,
 42.95,
 42.97,
 43.0,
 43.03,
 43.08,
 43.11,
 43.12,
 43.14,
 43.16,
 43.19,
 43.2,
 43.25,
 43.26,
 43.3,
 43.33,
 43.38,
 43.4,
 43.41,
 43.43,
 43.47,
 43.5,
 43.53,
 43.57,
 43.6,
 43.65,
 43.66,
 43.67,
 43.7,
 43.71,
 43.73,
 43.74,
 43.75,
 43.76,
 43.78,
 43.8,
 43.88,
 43.89,
 43.9,
 43.92,
 43.93,
 43.96,
 43.97,
 44.0,
 44.04,
 44.07,
 44.1,
 44.11,
 44.14,
 44.15,
 44.16,
 44.18,
 44.27,
 44.28,
 44.3,
 44.33,
 44.36,
 44.38,
 44.4,
 44.41,
 44.43,
 44.45,
 44.46,
 44.49,
 44.5,
 44.53,
 44.56,
 44.6,
 44.64,
 44.66,
 44.67,
 44.7,
 44.71,
 44.77,
 44.8,
 44.81,
 44.87,
 44.88,
 44.95,
 44.97,
 44.99,
 45.0,
 45.05,
 45.1,
 45.14,
 45.2,
 45.29,
 45.33,
 45.35,
 45.36,
 45.37,
 45.45,
 45.5,
 45.51,
 45.55,
 45.56,
 45.6,
 45.64,
 45.65,
 45.66,
 45.67,
 45.69,
 45.72,
 45.77,
 45.8,
 45.82,
 45.86,
 45.87,
 45.89,
 45.9,
 45.93,
 46.0,
 46.07,
 46.08,
 46.1,
 46.14,
 46.16,
 46.17,
 46.18,
 46.2,
 46.22,
 46.24,
 46.27,
 46.33,
 46.35,
 46.36,
 46.4,
 46.43,
 46.44,
 46.5,
 46.51,
 46.54,
 46.57,
 46.63,
 46.64,
 46.65,
 46.66,
 46.67,
 46.69,
 46.7,
 46.75,
 46.76,
 46.8,
 46.83,
 46.88,
 46.9,
 46.93,
 46.96,
 46.98,
 47.0,
 47.04,
 47.05,
 47.06,
 47.07,
 47.12,
 47.13,
 47.14,
 47.2,
 47.23,
 47.24,
 47.25,
 47.33,
 47.36,
 47.4,
 47.43,
 47.44,
 47.45,
 47.46,
 47.5,
 47.53,
 47.54,
 47.55,
 47.56,
 47.57,
 47.6,
 47.67,
 47.7,
 47.72,
 47.74,
 47.76,
 47.78,
 47.79,
 47.8,
 47.83,
 47.85,
 47.86,
 47.9,
 47.92,
 47.97,
 47.98,
 48.0,
 48.03,
 48.05,
 48.06,
 48.08,
 48.1,
 48.12,
 48.14,
 48.18,
 48.19,
 48.2,
 48.25,
 48.27,
 48.3,
 48.32,
 48.33,
 48.38,
 48.4,
 48.42,
 48.43,
 48.47,
 48.5,
 48.51,
 48.54,
 48.57,
 48.6,
 48.61,
 48.67,
 48.7,
 48.71,
 48.72,
 48.74,
 48.75,
 48.76,
 48.78,
 48.8,
 48.86,
 48.88,
 48.9,
 48.95,
 48.96,
 48.98,
 49.0,
 49.01,
 49.02,
 49.07,
 49.09,
 49.1,
 49.11,
 49.16,
 49.17,
 49.18,
 49.2,
 49.22,
 49.25,
 49.3,
 49.37,
 49.4,
 49.43,
 49.44,
 49.5,
 49.51,
 49.57,
 49.58,
 49.59,
 49.6,
 49.66,
 49.67,
 49.68,
 49.7,
 49.71,
 49.74,
 49.75,
 49.78,
 49.8,
 49.9,
 49.92,
 49.94,
 49.95,
 49.99,
 50.0,
 50.02,
 50.03,
 50.05,
 50.06,
 50.1,
 50.13,
 50.15,
 50.16,
 50.17,
 50.18,
 50.19,
 50.2,
 50.22,
 50.24,
 50.3,
 50.33,
 50.36,
 50.4,
 50.43,
 50.44,
 50.46,
 50.48,
 50.5,
 50.51,
 50.54,
 50.55,
 50.57,
 50.59,
 50.6,
 50.63,
 50.66,
 50.67,
 50.68,
 50.77,
 50.8,
 50.83,
 50.84,
 50.85,
 50.86,
 50.87,
 50.88,
 50.91,
 50.93,
 50.95,
 50.96,
 50.97,
 50.98,
 51.0,
 51.02,
 51.04,
 51.05,
 51.09,
 51.12,
 51.13,
 51.18,
 51.19,
 51.2,
 51.21,
 51.22,
 51.25,
 51.27,
 51.28,
 51.29,
 51.3,
 51.33,
 51.35,
 51.36,
 51.37,
 51.4,
 51.43,
 51.47,
 51.49,
 51.5,
 51.59,
 51.6,
 51.66,
 51.67,
 51.68,
 51.69,
 51.7,
 51.71,
 51.75,
 51.76,
 51.8,
 51.84,
 51.85,
 51.87,
 51.89,
 51.9,
 51.92,
 51.94,
 51.95,
 51.96,
 51.97,
 51.98,
 51.99,
 52.0,
 52.02,
 52.14,
 52.15,
 52.18,
 52.2,
 52.23,
 52.25,
 52.27,
 52.33,
 52.35,
 52.36,
 52.39,
 52.4,
 52.43,
 52.46,
 52.5,
 52.51,
 52.55,
 52.56,
 52.58,
 52.59,
 52.6,
 52.65,
 52.66,
 52.67,
 52.68,
 52.7,
 52.71,
 52.73,
 52.75,
 52.8,
 52.83,
 52.85,
 52.86,
 52.9,
 52.95,
 52.97,
 52.98,
 53.0,
 53.01,
 53.04,
 53.06,
 53.1,
 53.12,
 53.13,
 53.14,
 53.19,
 53.2,
 53.24,
 53.25,
 53.27,
 53.28,
 53.3,
 53.32,
 53.33,
 53.37,
 53.38,
 53.39,
 53.4,
 53.41,
 53.44,
 53.45,
 53.46,
 53.47,
 53.5,
 53.52,
 53.54,
 53.55,
 53.56,
 53.57,
 53.58,
 53.6,
 53.63,
 53.67,
 53.68,
 53.69,
 53.7,
 53.71,
 53.72,
 53.79,
 53.8,
 53.82,
 53.83,
 53.84,
 53.85,
 53.86,
 53.87,
 53.9,
 53.94,
 53.95,
 53.97,
 53.99,
 54.0,
 54.02,
 54.05,
 54.06,
 54.08,
 54.09,
 54.15,
 54.2,
 54.21,
 54.24,
 54.25,
 54.27,
 54.29,
 54.31,
 54.32,
 54.33,
 54.35,
 54.4,
 54.41,
 54.43,
 54.46,
 54.47,
 54.5,
 54.56,
 54.6,
 54.63,
 54.64,
 54.67,
 54.68,
 ...]

In [15]:
sorted(df['customer_type'].unique())

['Contract', 'Group', 'Transient', 'Transient-Party']

In [16]:
sorted(df['days_in_waiting_list'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 83,
 84,
 85,
 87,
 89,
 91,
 92,
 93,
 96,
 97,
 98,
 99,
 100,
 101,
 105,
 107,
 108,
 109,
 111,
 113,
 116,
 117,
 120,
 121,
 122,
 125,
 142,
 147,
 150,
 154,
 160,
 162,
 165,
 167,
 174,
 175,
 176,
 178,
 183,
 185,
 187,
 193,
 207,
 215,
 223,
 224,
 236,
 259,
 330,
 379,
 391]

In [17]:
sorted(df['company'].unique())

[nan,
 6.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 14.0,
 16.0,
 18.0,
 20.0,
 22.0,
 28.0,
 29.0,
 31.0,
 32.0,
 34.0,
 35.0,
 37.0,
 38.0,
 39.0,
 40.0,
 42.0,
 43.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 51.0,
 52.0,
 53.0,
 54.0,
 59.0,
 61.0,
 62.0,
 64.0,
 65.0,
 67.0,
 68.0,
 71.0,
 72.0,
 73.0,
 76.0,
 77.0,
 78.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 88.0,
 91.0,
 92.0,
 93.0,
 94.0,
 96.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 112.0,
 113.0,
 115.0,
 116.0,
 118.0,
 120.0,
 122.0,
 126.0,
 127.0,
 130.0,
 132.0,
 135.0,
 137.0,
 139.0,
 140.0,
 142.0,
 143.0,
 144.0,
 146.0,
 148.0,
 149.0,
 150.0,
 153.0,
 154.0,
 158.0,
 159.0,
 160.0,
 163.0,
 165.0,
 167.0,
 168.0,
 169.0,
 174.0,
 178.0,
 179.0,
 180.0,
 183.0,
 184.0,
 185.0,
 186.0,
 192.0,
 193.0,
 195.0,
 197.0,
 200.0,
 202.0,
 203.0,
 204.0,
 207.0,
 209.0,
 210.0,
 212.0,
 213.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 227.0,
 229.0,
 230.0,
 232.0,
 233.0,
 234.0,
 237.0,
 238.0,
 240.0,
 242.0,
 243.0,
 245.0,
 246.0,
 250.0,
 251.0,
 253.0,
 254.0,
 255.0,
 257.0,
 258.0,
 259.0,
 260.0,
 263.0,
 264.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 284.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 297.0,
 301.0,
 302.0,
 304.0,
 305.0,
 307.0,
 308.0,
 309.0,
 311.0,
 312.0,
 313.0,
 314.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 323.0,
 324.0,
 325.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 337.0,
 338.0,
 341.0,
 342.0,
 343.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 351.0,
 352.0,
 353.0,
 355.0,
 356.0,
 357.0,
 358.0,
 360.0,
 361.0,
 362.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 382.0,
 383.0,
 384.0,
 385.0,
 386.0,
 388.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 405.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 415.0,
 416.0,
 417.0,
 418.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 428.0,
 429.0,
 433.0,
 435.0,
 436.0,
 437.0,
 439.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 450.0,
 451.0,
 452.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 465.0,
 466.0,
 470.0,
 477.0,
 478.0,
 479.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 489.0,
 490.0,
 491.0,
 492.0,
 494.0,
 496.0,
 497.0,
 498.0,
 499.0,
 501.0,
 504.0,
 506.0,
 507.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 518.0,
 520.0,
 521.0,
 523.0,
 525.0,
 528.0,
 530.0,
 531.0,
 534.0,
 539.0,
 541.0,
 543.0]

In [18]:
sorted(df['agent'].unique())

[nan,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 44.0,
 45.0,
 47.0,
 50.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 63.0,
 64.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 77.0,
 78.0,
 79.0,
 81.0,
 82.0,
 83.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 98.0,
 99.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 110.0,
 111.0,
 112.0,
 114.0,
 115.0,
 117.0,
 118.0,
 119.0,
 121.0,
 122.0,
 126.0,
 127.0,
 128.0,
 129.0,
 132.0,
 133.0,
 134.0,
 135.0,
 138.0,
 139.0,
 141.0,
 142.0,
 143.0,
 144.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 162.0,
 163.0,
 165.0,
 167.0,
 168.0,
 170.0,
 171.0,
 173.0,
 174.0,
 175.0,
 177.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 187.0,
 191.0,
 192.0,
 193.0,
 195.0,
 196.0,
 197.0,
 201.0,
 205.0,
 208.0,
 210.0,
 211.0,
 213.0,
 214.0,
 215.0,
 216.0,
 219.0,
 220.0,
 223.0,
 227.0,
 229.0,
 232.0,
 234.0,
 235.0,
 236.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 256.0,
 257.0,
 258.0,
 261.0,
 262.0,
 265.0,
 267.0,
 269.0,
 270.0,
 273.0,
 275.0,
 276.0,
 278.0,
 280.0,
 281.0,
 282.0,
 283.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 294.0,
 295.0,
 296.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 310.0,
 313.0,
 314.0,
 315.0,
 321.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 339.0,
 341.0,
 344.0,
 346.0,
 348.0,
 350.0,
 352.0,
 354.0,
 355.0,
 358.0,
 359.0,
 360.0,
 363.0,
 364.0,
 367.0,
 368.0,
 370.0,
 371.0,
 375.0,
 378.0,
 384.0,
 385.0,
 387.0,
 388.0,
 390.0,
 391.0,
 393.0,
 394.0,
 397.0,
 403.0,
 404.0,
 405.0,
 406.0,
 408.0,
 410.0,
 411.0,
 414.0,
 416.0,
 418.0,
 420.0,
 423.0,
 425.0,
 426.0,
 427.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 436.0,
 438.0,
 440.0,
 441.0,
 444.0,
 446.0,
 449.0,
 450.0,
 451.0,
 453.0,
 454.0,
 455.0,
 459.0,
 461.0,
 464.0,
 467.0,
 468.0,
 469.0,
 472.0,
 474.0,
 475.0,
 476.0,
 479.0,
 480.0,
 481.0,
 483.0,
 484.0,
 492.0,
 493.0,
 495.0,
 497.0,
 502.0,
 508.0,
 509.0,
 510.0,
 526.0,
 527.0,
 531.0,
 535.0]

In [19]:
sorted(df['deposit_type'].unique())

['No Deposit', 'Non Refund', 'Refundable']

In [20]:
sorted(df['assigned_room_type'].unique())

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'P']

In [21]:
sorted(df['reserved_room_type'].unique())

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'L', 'P']

In [22]:
sorted(df['booking_changes'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21]

In [23]:
sorted(df['previous_bookings_not_canceled'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72]

In [24]:
df['previous_bookings_not_canceled'].value_counts()

0     115770
1       1542
2        580
3        333
4        229
       ...
47         1
49         1
50         1
51         1
72         1
Name: previous_bookings_not_canceled, Length: 73, dtype: int64

In [25]:
sorted(df['previous_cancellations'].unique())

[0, 1, 2, 3, 4, 5, 6, 11, 13, 14, 19, 21, 24, 25, 26]

In [26]:
df['previous_cancellations'].value_counts()

0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
19        19
5         19
14        14
13        12
21         1
Name: previous_cancellations, dtype: int64

In [27]:
sorted(df['is_repeated_guest'].unique())

[0, 1]

In [28]:
df['is_repeated_guest'].value_counts()

0    115580
1      3810
Name: is_repeated_guest, dtype: int64

In [29]:
sorted(df['distribution_channel'].unique())

['Corporate', 'Direct', 'GDS', 'TA/TO', 'Undefined']

In [30]:
df['distribution_channel'].value_counts()

TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64

In [31]:
 df['distribution_channel'].replace('Undefined','TA/TO',inplace= True)

In [32]:
df['distribution_channel'].value_counts()

TA/TO        97875
Direct       14645
Corporate     6677
GDS            193
Name: distribution_channel, dtype: int64

In [33]:
sorted(df['market_segment'].unique())

['Aviation',
 'Complementary',
 'Corporate',
 'Direct',
 'Groups',
 'Offline TA/TO',
 'Online TA',
 'Undefined']

In [34]:
df['market_segment'].value_counts()

Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64

In [35]:
 df['market_segment'].replace('Undefined','Online TA',inplace= True)

In [36]:
df['market_segment'].value_counts()

Online TA        56479
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Name: market_segment, dtype: int64

In [37]:
df['country'].value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: country, Length: 177, dtype: int64

In [38]:
sorted(df['meal'].unique())

['BB', 'FB', 'HB', 'SC', 'Undefined']

In [39]:
df['meal'].value_counts()

BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: meal, dtype: int64

In [40]:
df['meal'].replace('Undefined','BB',inplace= True)

In [41]:
sorted(df['babies'].unique())

[0, 1, 2, 9, 10]

In [42]:
df['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

In [43]:
sorted(df['children'].unique())

[0.0, 1.0, 2.0, 3.0, 10.0, nan]

In [44]:
df['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

In [45]:
sorted(df['adults'].unique())

[0, 1, 2, 3, 4, 5, 6, 10, 20, 26, 27, 40, 50, 55]

In [46]:
df['adults'].value_counts()

2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
40        1
50        1
55        1
6         1
10        1
Name: adults, dtype: int64

In [47]:
sorted(df['stays_in_weekend_nights'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 18, 19]

In [48]:
df['stays_in_weekend_nights'].value_counts()

0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
Name: stays_in_weekend_nights, dtype: int64

In [49]:
sorted(df['arrival_date_week_number'].unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53]

In [50]:
df['arrival_date_week_number'].value_counts()

33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: arrival_date_week_number, dtype: int64

In [51]:
df['arrival_date_month'].value_counts()

August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64

In [52]:
sorted(df['arrival_date_month'].unique())

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

In [53]:
sorted(df['hotel'].unique())

['City Hotel', 'Resort Hotel']

In [54]:
df['hotel'].value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [55]:
sorted(df['arrival_date_year'].unique())

[2015, 2016, 2017]

In [56]:
df['arrival_date_year'].value_counts()

2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64

In [57]:
sorted(df['is_canceled'].unique())

[0, 1]

In [58]:
df['is_canceled'].value_counts()

0    75166
1    44224
Name: is_canceled, dtype: int64

In [59]:
sorted(df['lead_time'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 403,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 414,
 418,
 419,
 420,
 422,
 423,
 424,
 426,
 429,
 433,
 434,
 435,
 437,
 440,
 443,
 444,
 445,
 447,
 448,
 450,
 451,
 454,
 457,
 458,
 460,
 461,
 462,
 463,
 464,
 465,
 467,
 468,
 471,
 475,
 476,
 478,
 479,
 482,
 489,
 490,
 493,
 496,
 503,
 504,
 507,
 510,
 517,
 518,
 521,
 524,
 531,
 532,
 538,
 542,
 545,
 552,
 559,
 566,
 573,
 580,
 587,
 594,
 601,
 605,
 608,
 615,
 622,
 626,
 629,
 709,
 737]

### Issues to fix

1. Null values in company
2. Null values in country
3. Null values in agent
4. Undefined in meal,market segment, distribution channel, 
5. Null values in children

#### Data Cleaning

In [60]:
# Checking for duplicate values
df.duplicated().sum()

31994

In [61]:
# Dropping duplicate values
df.drop_duplicates(inplace= True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87396 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87396 non-null  object
 1   is_canceled                     87396 non-null  int64
 2   lead_time                       87396 non-null  int64
 3   arrival_date_year               87396 non-null  int64
 4   arrival_date_month              87396 non-null  object
 5   arrival_date_week_number        87396 non-null  int64
 6   arrival_date_day_of_month       87396 non-null  int64
 7   stays_in_weekend_nights         87396 non-null  int64
 8   stays_in_week_nights            87396 non-null  int64
 9   adults                          87396 non-null  int64
 10  children                        87392 non-null  float64
 11  babies                          87396 non-null  int64
 12  meal                            87396 non-null  object
 13  country                         86944 non-null  object
 14  market_segment                  87396 non-null  object
 15  distribution_channel            87396 non-null  object
 16  is_repeated_guest               87396 non-null  int64
 17  previous_cancellations          87396 non-null  int64
 18  previous_bookings_not_canceled  87396 non-null  int64
 19  reserved_room_type              87396 non-null  object
 20  assigned_room_type              87396 non-null  object
 21  booking_changes                 87396 non-null  int64
 22  deposit_type                    87396 non-null  object
 23  agent                           75203 non-null  float64
 24  company                         5259 non-null   float64
 25  days_in_waiting_list            87396 non-null  int64
 26  customer_type                   87396 non-null  object
 27  adr                             87396 non-null  float64
 28  required_car_parking_spaces     87396 non-null  int64
 29  total_of_special_requests       87396 non-null  int64
 30  reservation_status              87396 non-null  object
 31  reservation_status_date         87396 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 22.0+ MB

In [63]:
df[df['company'].isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [64]:
df['adults'].value_counts()

2     64497
1     16503
3      5935
0       385
4        60
26        5
27        2
20        2
5         2
40        1
50        1
55        1
6         1
10        1
Name: adults, dtype: int64

In [65]:
df['deposit_type'].value_counts()

No Deposit    86251
Non Refund     1038
Refundable      107
Name: deposit_type, dtype: int64

In [66]:
df['agent'].value_counts()

9.0      28759
240.0    13028
14.0      3349
7.0       3300
250.0     2779
         ...
497.0        1
337.0        1
510.0        1
165.0        1
449.0        1
Name: agent, Length: 333, dtype: int64

In [67]:
df[df['agent'].isnull()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119124,City Hotel,0,0,2017,August,35,29,0,1,1,...,No Deposit,NaN,72.0,0,Transient,0.00,0,2,Check-Out,2017-08-30
119151,City Hotel,0,0,2017,August,35,29,0,1,2,...,No Deposit,NaN,NaN,0,Transient,270.00,0,0,Check-Out,2017-08-30
119166,City Hotel,0,0,2017,August,35,30,0,1,1,...,No Deposit,NaN,NaN,0,Transient,140.00,0,0,Check-Out,2017-08-31
119215,City Hotel,0,2,2017,August,35,31,0,1,1,...,No Deposit,NaN,NaN,0,Transient,140.00,0,2,Check-Out,2017-09-01
119248,City Hotel,0,22,2017,August,35,29,0,3,1,...,No Deposit,NaN,485.0,0,Transient,75.00,0,4,Check-Out,2017-09-01

In [68]:
df.shape

(87396, 32)

In [69]:
agent_mode= df[(df['deposit_type']=='No Deposit') & (df['customer_type']=='Transient')]['agent'].mode()[0]
agent_mode

9.0

In [70]:
cond = (df['agent'].isna()) & (df['deposit_type']=='No Deposit')
df['agent'].mask(cond,agent_mode,inplace=True)

In [71]:
df[df['agent'].isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2625,Resort Hotel,1,148,2015,October,43,24,0,1,2,...,Non Refund,NaN,NaN,0,Transient,47.0,0,0,Canceled,2015-06-26
2627,Resort Hotel,1,148,2015,October,43,24,0,1,1,...,Non Refund,NaN,NaN,0,Transient,39.0,0,0,Canceled,2015-06-26
2769,Resort Hotel,1,155,2015,October,44,31,0,1,2,...,Non Refund,NaN,NaN,0,Transient,36.0,0,0,Canceled,2015-10-26
2787,Resort Hotel,1,155,2015,October,44,31,0,1,2,...,Non Refund,NaN,NaN,0,Transient-Party,36.0,0,0,Canceled,2015-10-26
3475,Resort Hotel,1,93,2015,December,51,19,0,1,2,...,Non Refund,NaN,NaN,0,Transient,80.0,0,0,Canceled,2015-11-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94045,City Hotel,0,150,2016,July,31,25,1,4,1,...,Non Refund,NaN,51.0,0,Transient-Party,106.0,0,0,Check-Out,2016-07-30
95424,City Hotel,0,172,2016,August,34,16,0,3,1,...,Non Refund,NaN,51.0,0,Transient-Party,106.0,0,0,Check-Out,2016-08-19
95936,City Hotel,0,178,2016,August,35,22,1,3,1,...,Non Refund,NaN,51.0,0,Transient-Party,106.0,0,0,Check-Out,2016-08-26
102072,City Hotel,0,215,2016,November,48,21,1,1,1,...,Non Refund,NaN,233.0,0,Transient-Party,75.0,0,0,Check-Out,2016-11-23
110609,City Hotel,0,52,2017,April,17,28,0,1,2,...,Refundable,NaN,40.0,0,Transient-Party,77.0,1,1,Check-Out,2017-04-29

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87396 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87396 non-null  object
 1   is_canceled                     87396 non-null  int64
 2   lead_time                       87396 non-null  int64
 3   arrival_date_year               87396 non-null  int64
 4   arrival_date_month              87396 non-null  object
 5   arrival_date_week_number        87396 non-null  int64
 6   arrival_date_day_of_month       87396 non-null  int64
 7   stays_in_weekend_nights         87396 non-null  int64
 8   stays_in_week_nights            87396 non-null  int64
 9   adults                          87396 non-null  int64
 10  children                        87392 non-null  float64
 11  babies                          87396 non-null  int64
 12  meal                            87396 non-null  object
 13  country                         86944 non-null  object
 14  market_segment                  87396 non-null  object
 15  distribution_channel            87396 non-null  object
 16  is_repeated_guest               87396 non-null  int64
 17  previous_cancellations          87396 non-null  int64
 18  previous_bookings_not_canceled  87396 non-null  int64
 19  reserved_room_type              87396 non-null  object
 20  assigned_room_type              87396 non-null  object
 21  booking_changes                 87396 non-null  int64
 22  deposit_type                    87396 non-null  object
 23  agent                           87133 non-null  float64
 24  company                         5259 non-null   float64
 25  days_in_waiting_list            87396 non-null  int64
 26  customer_type                   87396 non-null  object
 27  adr                             87396 non-null  float64
 28  required_car_parking_spaces     87396 non-null  int64
 29  total_of_special_requests       87396 non-null  int64
 30  reservation_status              87396 non-null  object
 31  reservation_status_date         87396 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 22.0+ MB

In [73]:
# Getting the mode for agent
mode_agent= df['agent'].mode()[0]

In [74]:
# Fiiling the remaning missing values with mode
df['agent'].fillna(mode_agent, inplace = True)

In [75]:
df['children'].mode()[0]

0.0

In [76]:
# Fiiling the missing values in children with its mode
df['children'].fillna(0, inplace = True)

In [78]:
# replcaing values in hotel column with 0 and 1
df['hotel'] = df['hotel'].map({'Resort Hotel':0,'City Hotel':1})
df['hotel']

0         0
1         0
2         0
3         0
4         0
         ..
119385    1
119386    1
119387    1
119388    1
119389    1
Name: hotel, Length: 87396, dtype: int64

In [79]:
df['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [80]:
# replacing values in hotel column with 0 and 1
df['reservation_status'] = df['reservation_status'].map({'Check-Out':0, 'Canceled':1, 'No-Show':2})

In [86]:
df['reservation_status'].isnull().sum()

0

In [88]:
data = df[['arrival_date_month','arrival_date_week_number','arrival_date_year','is_canceled','arrival_date_day_of_month']]

In [89]:
groups_dwmy = df.groupby(['arrival_date_month','arrival_date_week_number','arrival_date_year','arrival_date_day_of_month']).count()['is_canceled']

In [90]:
week= df.groupby(['arrival_date_week_number'])
week.get_group(3)['is_canceled'].value_counts(normalize= True)

0    0.780952
1    0.219048
Name: is_canceled, dtype: float64

In [91]:
df['distribution_channel'].value_counts()

TA/TO        69146
Direct       12988
Corporate     5081
GDS            181
Name: distribution_channel, dtype: int64

In [96]:
dist = df.groupby(['distribution_channel'])
dist.get_group('GDS')['is_canceled'].value_counts(normalize= True)

0    0.801105
1    0.198895
Name: is_canceled, dtype: float64

In [98]:
# replacing values in hotel column with 0 and 1
df['distribution_channel'] = df['distribution_channel'].map({'TA/TO':0, 'Direct':1, 'Corporate':2, 'GDS':3})

In [100]:
# Distibution channel has no correlation to wether it was canceled or not
df['is_canceled'].corr(df['distribution_channel'])

-0.1428583563454353

In [101]:
df['customer_type'].value_counts()

Transient          71986
Transient-Party    11727
Contract            3139
Group                544
Name: customer_type, dtype: int64

In [105]:
customer= df.groupby(['customer_type'])
customer.get_group('Group')['is_canceled'].value_counts(normalize= True)

0    0.900735
1    0.099265
Name: is_canceled, dtype: float64

In [106]:
df['customer_type']= df['customer_type'].map({'Transient':0, 'Transient-Party':1, 'Contract':2, 'Group':3})

In [107]:
# Distibution channel has no correlation to wether it was canceled or not
df['is_canceled'].corr(df['customer_type'])

-0.11675548575524572

In [109]:
df['meal'].value_counts()

BB    68470
SC     9481
HB     9085
FB      360
Name: meal, dtype: int64

In [115]:
meal = df.groupby(['meal'])
meal.get_group('FB')['is_canceled'].value_counts(normalize=True)

0    0.725
1    0.275
Name: is_canceled, dtype: float64

In [117]:
df['meal']= df['meal'].map({'BB ':0, 'SC':1, 'HB':2, 'FB':3})

In [118]:
df['is_canceled'].corr(df['meal'])

-0.08647154398017516

In [120]:
df['deposit_type'].value_counts()

No Deposit    86251
Non Refund     1038
Refundable      107
Name: deposit_type, dtype: int64

In [ ]:
deposit = df.groupby

In [ ]:
df['arrival_date_day_of_month'].unique()

In [ ]:
categorical_column = ['hotel', 'reservation_status']

In [ ]:
df.drop(['reservation_status_date','company','country'],axis= 1, inplace = True)

In [ ]:
df['hotel'].unique()

In [ ]:
df['is_canceled'].corr(hotel)

In [ ]:
df.drop(['arrival_date_month','arrival_date_year','arrival_date_day_of_month'],axis= 1, inplace= True)

In [ ]:
#sns.heatmap(data.corr(),annot= True)

In [ ]:
df['reserved_room_type'].unique()

In [ ]:
df

In [ ]:
df['country'].unique()

In [ ]:
df['arrival_date_month']= df['hotel'].map({'Resort Hotel':0,'City Hotel':1})

In [ ]:
df = pd.get_dummies(df,columns = categorical_df,drop_first = True )

In [ ]:
# Splitting the data into test and training data
X = df.drop('is_canceled',axis = 1)
y = df['is_canceled']

In [ ]:
df.shape

In [ ]:
import tensorflow.keras as keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import regularizers
from keras.callbacks import EarlyStopping

In [ ]:
model1 = Sequential([
    Dense(8, activation ='relu', input_shape=(237,),kernel_regularizer= regularizers.l1(0.0001)),
    Dense(6, activation='relu'),
    Dense(3, activation='relu'),
    Dense(1,activation = 'sigmoid')
    
])

In [ ]:
model1.summary()

In [ ]:
model1.compile(optimizer='adam',
               loss='binary_crossentropy',
               metrics=['accuracy'])

In [ ]:
model1.fit(X,y,batch_size = 50, verbose = 2, epochs=50, validation_split = 0.20)